@tailwind base;
@tailwind components;
@tailwind utilities;



 
.slick-prev:before,
.slick-next:before {
  color: black;
}
 .restro-cards{
    display: grid;
    grid-template-columns: repeat(4,300px);
    justify-content: center;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
 }
.restro-cards {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: center;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}